
.dataTable_buttons{
	height: 35px;
	position: absolute;
	top: 18px;
    right: -120px;
	width: 100px;
}

.DTTT_button{
	border: none !important;
	background: #FFF !important;
	color: #555;
	width: 100px;
	text-align: left !important;
	margin-top: 10px;
}

.DTTT_button:HOVER{
	border: none !important;
	background: #FFF !important;
	color: #555;
}

.ColVis_Button{
	border: none !important;
	background: #FFF !important;
	box-shadow: none !important;
	margin: 0 !important;
	padding: 0 !important;
	color: #555 !important;
}